<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comic.workoutcountdown">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="com.comic.workoutcountdown.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.comic.workoutcountdown.EditActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"></activity>

        <activity
            android:name="com.comic.workoutcountdown.CountdownActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>

        <provider
            android:name="com.comic.workoutcountdown.database.TimerProvider"
            android:authorities="com.comic.workoutcountdown"
            android:exported="false" />
    </application>

</manifest>
